* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  max-width: 100%;
  border: 1px solid grey;
}

/* General Styles*/

html {
  font-size: 62.5%;
}

body {
  font-size: 1.8rem;
  line-height: 1.5;
  color: #4f4f4f;
  background-image: url("https://images.unsplash.com/photo-1566041510394-cf7c8fe21800?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=334&q=80");
}

section {
  margin: 3% 0;
}
/* Header Section Styles*/

.header-container {
  display: flex;
  width: 100%;
  height: 20rem;
  margin-top: 3%;
}

.titles {
  width: 50%;
  text-align: center;
}

.titles h1 {
  text-align: center;
  font-family: fantasy;
  font-size: 5rem;
}

.titles h2 {
  font-family: fantasy;
}

/* homepage Styles */

.mySlides {
  display: flex;
  justify-content: center;
}

.mySlides img {
  padding: 2%;
}

.home-button {
  width: 5%;
  margin-top: 1.4%;
  margin-left: 48%;
  background-color: lightblue;
  border-radius: 20px;
}

.home-button:hover {
  background-color: white;
  color: pink;
}

.slideshow-container {
  background-image: url("https://images.unsplash.com/photo-1459664018906-085c36f472af?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80");
}

/* Navigation section*/
.navigation {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
}

.links {
  width: 20%;
  text-align: center;
  color: black;
  text-decoration: none;
}

.links:hover {
  background-color: white;
  color: pink;
}

/* service section */

.service-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 60rem;
}

.service {
  width: 30%;
  height: 20%;
  text-align: center;
}

button {
  background-color: lightblue;
  width: 22%;
}

button:hover {
  background-color: white;
  color: pink;
}

/* training section */

.training-header {
  background-color: pink;
  width: 100%;
  height: 36rem;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.training-header h2 {
  width: 50%;
}

.training-header span {
  font-family: cursive;
  font-size: 3rem;
}
.training-header h2 {
  font-size: 6rem;
  width: 70%;
  margin-left: 12%;
}

.training-container {
  width: 100%;
  height: 70rem;
  display: flex;
  justify-content: center;
}

.form-container {
  background-color: pink;
  width: 100%;
  height: 40rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form-container h2 {
  width: 50%;
  margin-left: 25%;
  margin-top: 2%;
}

.training {
  width: 40%;
  text-align: center;
  margin: 2%;
  justify-content: center;
  margin-left: 8%;
  margin-right: 8%;
}

.training-title {
  font-size: 6rem;
}

.training-hours {
  font-size: 2.3rem;
  font-weight: bold;
}

.training-price {
  font-size: 4rem;
  font-weight: bold;
}

.training p {
  font-size: 2rem;
}

.about-CT p {
  width: 50%;
}

.footer h3 {
  margin-bottom: 7%;
}

/* @media (max-width: 800px) {
  body {
    border: solid blue 2px;
  }

  .header-container h1 {
    font-size: 1px;
  }
}

@media (max-width: 600px) {
  body {
    border: solid red 2px;
  }
} */
